@import "@/styles/mixin";

.homeMain{
  padding-top: 14vh;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 60px);

  .headCopy{
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin-top: 30px;
    color: #fff;
  }
}

.buttonSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 30px 0 20px 0;
  margin-top: auto;
}

.moveBtn{
  background-color: #fff;
  color: #fe6716;
}