@import "../mixin";

.homeMain{
  padding-top: 14vh;
  .headCopy{
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin-top: 30px;
    color: #fff;
  }
}
.moveBtn{
  background-color: #fff;
  color: #fe6716;
}