@import "@/styles/mixin";

.userMain {
  padding-top: 60px;
  padding-bottom: 20px;
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;

  .inputBox {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    input {
      display: none;
    }

    input + label {
      width: 90%;
      margin: 0 auto;
      border: 3px solid;
      padding: 10px 20px;
      border-radius: 100px;
      margin-top: 20px;
      //////
      background-color: rgba(255, 255, 255, 0.5);
      border-color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        b {
          font-size: 24px;
          line-height: 30px;
        }

        i {
          font-style: normal;
          font-size: 12px;
          line-height: 14px;
        }
      }

      .radioBox {
        display: flex;
        align-items: center;

        svg {
          display: none;
        }

        svg:nth-of-type(1) {
          display: block;
        }
      }

      .boxTxt {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
      }
      .boxCnt {
        font-size: 30px;
      }
    }

    input:checked + label {
      //////
      background-color: transparent;
      border-color: #f60;

      .radioBox {
        display: flex;

        svg {
          display: none;
        }

        svg:nth-of-type(2) {
          display: block;
          color: #f60;
        }
      }
    }
  }
}

.buttonSection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 30px 0 0 0;
  margin-top: auto;
}

.sendBtn {
  @include flex-center;
  width: 90%;
  height: 50px;
  border-radius: 10px;
  border: 0;
  background-color: #f60;
  font-weight: bold;
  color: #fff;
}
