.inputBox{
  display: flex;
  flex-direction: column;
  input{
    display: none;
  }

  input+label{
    width: 90%;
    margin: 0 auto;
    border: 3px solid;
    padding: 10px 20px;
    border-radius: 100px;
    //////
    background-color: transparent;
    border-color: #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span{
      b{
        font-size: 24px;
        line-height: 30px;
      }
      i{
        font-style: normal;
        font-size: 12px;
        line-height: 14px;
      }
    }
    .radioBox{
      display: flex;
      align-items: center;
      svg{display: none;}
      svg:nth-of-type(1){
        display: block;
      }
    }
    .boxTxt{
      display: flex;
      flex-direction: column;
      margin-left: 10px;
    }
  }
  input:checked+label{
    //////
    background-color: #fc0;
    border-color: #f60;
    .radioBox{
      display: flex;
      svg{display: none;}
      svg:nth-of-type(2){
        display: block;
      }
    }
    
  }
}