@import "../mixin";
.header {
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #Ccc;

  .pageTitle {
    color: red;
  }
  .headerBtn{
    @include flex-center;
    width: 50px; height: 50px;
    font-size: 36px;
  }
}