@import "../mixin";
.header {
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .pageTitle {
    color: #f61;
    font-size: 20px;
  }
  .headerBtn{
    @include flex-center;
    width: 50px; height: 50px;
    font-size: 36px;
    color: #999;
  }
}