@import "@/styles/mixin";
.header {
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

  .pageTitle {
    color: #f61;
    font-size: 20px;
    flex: 1;
  }

  .logoutBtn {
    @include flex-center;
    width: 50px;
    height: 50px;
    border: none;
    background: none;
    font-size: 36px;
    color: #f44336;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      color: #d32f2f;
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.95);
    }
  }
}
