@use '@/styles/mixin' as *;
.logoBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 0.5rem;

  .logoImage {
    position: relative;
    width: 11rem;
    height: 11rem;
    border-radius: 3.5rem;
  }
  h1 {
    font-family: 'YeogiOttaeJalnan', sans-serif;
    font-size: 1.9rem;
    line-height: 2.5rem;
    text-align: center;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    opacity: 1;
  }
}
