@use "@/styles/mixin" as *;
.logoBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  figure {
    @include flex-center;
    width: 240px;
    height: 240px;

    border-radius: 40px;
  }
  h1 {
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    margin-top: 30px;
  }
}
