@use "@/styles/mixin" as *;
.logoBox {
  display: flex;
  align-items: center;
  flex-direction: column;

  .logoImage {
    position: relative;
    width: 15rem;
    height: 15rem;
    border-radius: 2.5rem;
    overflow: hidden;
    background: transparent;
  }
  h1 {
    font-family: "YeogiOttaeJalnan", sans-serif;
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: center;
    margin-top: 1.875rem;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    opacity: 1;
  }
}
