@use "@/styles/mixin" as *;
.logoBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  figure {
    @include flex-center;
    width: 15rem;
    height: 15rem;

    border-radius: 2.5rem;
  }
  h1 {
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: center;
    margin-top: 1.875rem;
  }
}
