@import "@/styles/mixin";
.postcardItem {
  @include flex-between;
  align-items: flex-start;
  border: 1px solid #e94;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;

  width: 90%;
  .listBullet {
    width: 24px;
  }
  .listBox {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    .postcardDate {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .reservDate {
        display: flex;
        align-items: center;
      }
    }
  }
}