@import "../mixin";
.loginMain{
  .loginImg{
    padding: 30px 0;
    @include flex-center;
  }
  .loginBox{
    @include flex-center;
    flex-direction: column;
    row-gap: 20px;
    a{
      color: #fff;
      justify-content: start;
      padding-left: 80px;
    }
  }
}