@import "./mixin";
:global(.hdWrap) {
  width: 100%;
  
  position: fixed;
  top: 0;
  z-index: 10;
}

:global(.container) {
  width: 100%;
  height: calc(100vh - 150px);
  position: absolute;
  top: 60px;
  
}

:global(.navWrap) {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: 0;
  z-index: 10;
}

/////////// button(a) styles ///////////
:global(.btn) {
  @include flex-center;
  width: 90%;
  height: 50px;
  background-color: #ccc;
  border-radius: 6px;
}

:global(.btIcon) {
  @include flex-center;
  width: 24px;
  height: 24px;
}

:global(.btnBig) {
  @include flex-center;
  width: 90%;
  height: 48px;
  background-color: #F60;
  margin: 0 auto;
  border-radius: 10px;
  font-weight: bold;
}

:global(.btnMid) {
  @include flex-center;
}

:global(.btnSml) {
  @include flex-center;
}
:global(.btnSend){
  @include flex-center;
  width: 90%;
  height: 50px;
  border-radius: 10px;
  border: 0;
  background-color: #f60;
  font-weight: bold;
  color: #fff;
}