@import "./mixin";
:global(.hdWrap){
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 1;
}
:global(.container){
  width: 100%;
  height: calc(100vh - 140px);
  position: absolute;
  top: 70px;
  overflow-y:auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
:global(.navWrap){}

/////////// button(a) styles ///////////
:global(.btn) {
  @include flex-center;
  width: 90%;
  height: 50px;
  background-color: #ccc;
  border-radius: 6px;
}
:global(.btIcon){
  @include flex-center;
  width: 24px; height: 24px;
}
:global(.btnBig){
  @include flex-center;
  width: 90%;
  height: 48px;
  background-color: #F60;
  margin: 0 auto;
  border-radius: 10px;
  font-weight: bold;
}
:global(.btnMid){
  @include flex-center;
}
:global(.btnSml){
  @include flex-center;
}