@import "./mixin";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
html, body{
  width: 100vw;
  height: 100vh;
}
a{
  @include flex-center;
  width: 90%;
  height: 50px;
  background-color: #ccc;
  border-radius: 6px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #000;
}
.btnBox{
  @include flex-center;
}