@use './_mixin' as *;

:global(.hdrWrap) {
  width: 100%;
}

:global(.container) {
  width: 100%;
  overflow-y: auto;
}

:global(.btnBig) {
  @include flex-center;
  width: 90%;
  height: 48px;
  background-color: #f60;
  margin: 0 auto;
  border-radius: 10px;
  font-weight: bold;
  color: #fff;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;

  &:hover {
    background-color: #e55500;
  }
}
