@use "./_mixin" as *;

:global(.hdrWrap) {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

:global(.container) {
  width: 100%;
  min-height: calc(100vh - 60px);
  padding-top: 60px;
  padding-bottom: 20px;
  overflow-y: auto;
}

:global(.btnBig) {
  @include flex-center;
  width: 90%;
  height: 48px;
  background-color: #f60;
  margin: 0 auto;
  border-radius: 10px;
  font-weight: bold;
  color: #fff;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;

  &:hover {
    background-color: #e55500;
  }
}
