services:
  jeju-gtp-be:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: jeju-gtp-be
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1
    env_file:
      - .env
    restart: unless-stopped
