name: cd-fe

on:
  push:
    branches:
      - 'main'
    paths:
      - '.github/workflows/cd-fe.yml'
      - 'fe/**'
  workflow_dispatch:

jobs:
  build:
    environment: cd
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Create .env file for build
        run: |
          cd fe
          cat > .env << 'EOF'
          ${{ secrets.FE_ENV_FILE }}
          EOF

      - name: Build docker image
        run: |
          docker build -t ${{ vars.DOCKER_HUB_USERNAME }}/${{ vars.DOCKER_HUB_REPOSITORY }}:${{ vars.DOCKER_HUB_FE_TAGNAME }} ./fe

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Publish to docker hub
        run: |
          docker push ${{ vars.DOCKER_HUB_USERNAME }}/${{ vars.DOCKER_HUB_REPOSITORY }}:${{ vars.DOCKER_HUB_FE_TAGNAME }}

      - name: Deploy on Server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ vars.SSH_HOST }}
          port: ${{ vars.SSH_PORT }}
          username: ${{ vars.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            echo "Login docker hub for private repository access"
            echo ${{ secrets.DOCKER_HUB_TOKEN }} | docker login -u ${{ vars.DOCKER_HUB_USERNAME }} --password-stdin

            echo "Pull docker image"
            docker pull ${{ vars.DOCKER_HUB_USERNAME }}/${{ vars.DOCKER_HUB_REPOSITORY }}:${{ vars.DOCKER_HUB_FE_TAGNAME }}

            echo "Move to project directory"
            cd ${{ vars.FE_PROJECT_DIRECTORY }}

            echo "Stop existing containers"
            docker compose down

            echo "Create docker-compose.yml file"
            cat > docker-compose.yml << 'EOF'
            services:
              badang-fe:
                container_name: badang-fe
                image: ${{ vars.DOCKER_HUB_USERNAME }}/${{ vars.DOCKER_HUB_REPOSITORY }}:${{ vars.DOCKER_HUB_FE_TAGNAME }}
                networks:
                  - proxy-network
                restart: unless-stopped

            networks:
              proxy-network:
                name: proxy-network
                external: true
            EOF

            echo "Start updated service"
            docker compose up -d
